
* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans MT', sans-serif;
}



body {
    background-color: #1b2029;
    color: white;
    font-weight: 500;
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .line {
    margin-top: 1rem;
}

main .line span {
   font-size: 1.1rem;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.4);
   position: relative;
}

main .line span::before, main .line span::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    bottom: 50%;
    right: 50px;
    background-color: grey;
}

main .line span::after {
    left: 50px;
}

main form label {
    margin-top: 1rem;
}

main form input {
    height: 30px;
    width: 100px;
}

main form button {
    margin-top: 2rem;
}

 main .account {
     margin-top: 2rem;
 }
p {
    color: #ac63ff;
    
}


